
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.btn-primary {
    background-color: #4E47FF;
    color: white;
    border: none;
    font-size: 20px;
    border-radius: 10px;
    padding: 20px 35px;
    cursor: pointer;

    position: relative;
    border: 2px solid transparent;
    transition: all 0.3s;
}

.btn-primary:hover {
    background-color: white;
    border-color: #4E47FF;
    color: #4E47FF;
}

body {
    text-align: center;
    font-family: raleway;
    margin: 0;
    background-color: rgba(75, 71, 255, .06);
}
 /* header */
header {
    background: url(../Assets/Hero-bg.png) center / cover no-repeat;
    height: 100vh;

}

.top {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    align-items: center;
}

.logo h2 {
    font-size: 34px;
    font-weight: 800;
    margin: 0;
    color: #4E47FF;
}

.container {
    width: 900px;
    margin: 160px auto;
}
.container h1 {
    font-size: 65px;
}

/* main */

main {
    width: 80%;
    margin: auto;
}

section {
     margin: 100px 0;
}
.action-container {
    display: flex;
    justify-content: space-between;
}

.left-half {
    text-align: left;
    width: 50%;
}

.left-half h2 {
    font-size: 42px;
}
.left-half p {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.5);
}

.right-half img {
    border-radius: 30px;
}

/* user-stats */
.user-stats {
    background-color: rgba(78, 71, 255, 0.2);
    padding: 50px 140px;
    border-radius: 20px;
}

.user-stats h2 {
    font-size: 40px;
}

.stats {
    display: flex;
    justify-content: space-evenly;
}

.stats h1 {
    font-family: inter;
    font-size: 80px;
    color: #4E47FF;
    margin: 0;
}

.stats p {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}

/* review */
.reviews h2 {
    font-size: 42px;
}
.review-cards {
    display: flex;
    gap: 30px;
}
.card {
    background-color: white;
    padding: 25px;
    text-align: left;
    border-radius: 10px;
}

.card .star-icons {
    display: flex;
    margin-bottom: 25px;
}

.card h4 {
    margin: 0;
}

.card .user {
    display: flex;
    gap: 10px;
    align-items: center;
}

.card .user img {
    border-radius: 50%;
}

.card .user h5 {
    margin: 0;
    color: gray;
}

.card .user p {
    margin: 0;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5);
}

.overview {
    background-color: white;
    border-radius: 20px;
    padding: 70px;
}

.overview .text-content h1 {
    font-size: 50px;
    margin: 0;
}

.overview .text-content p {
    color: rgba(0, 0, 0, 0.5);
}
.overview .text-content button {
    margin: 20px;
}

.overview img {
    border-radius: 20px;
}

/* form */
.form-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.form-container .heading {
    width: 50%;
    font-size: 70px;
}

.form fieldset{
    border: none;
}

.form fieldset * {
    display: block;
    font-family: inter;
    text-align: left;
}

.form label {
    font-size: 15px;
    margin: 15px 0;
}

.form input, .form textarea {
    padding: 20px;
    font-size: 15px;
    width: 400px;
    border-radius: 10px;
    border: none;
}

.form textarea {
    resize: none;
}

.form button {
    width: 440px;
    margin: 20px 0;
}

/* footer */
footer {
    background-color: white;
    padding: 100px;
}

footer div {
    width: 500px;
    margin: auto;
}
footer h1 {
    font-size: 100px;
    margin: 0;
    color: #4E47FF;
}

footer p {
    margin: 10px auto;
    color: rgba(0, 0, 0, 0.5);
}

nav {
    display: flex;
    justify-content: space-between;
    font-family: inter;
}

nav a {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    margin: 10px;
}